# Ignore compiled desktop binaries and build output
my_program
my_program.exe
c_spectra
build/
dsp_tests

# Ignore VS Code settings folders (optional, but good practice)
.vscode/

# Ignore object files (intermediate compile steps)
*.o

# Ignore large media files (we do not want to commit local audio samples)
*.wav
